@tailwind base;

@layer base {
  a {
    @apply underline-offset-4 hover:bg-green-400 text-black;
  }
}

html {
    font-family: sans-serif;
  }
  

  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

