---
import { storyblokEditable } from '@storyblok/astro'
import { useStoryblokApi } from '@storyblok/astro'

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogpost',
})

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: story.content.date,
    description: story.content.description,
    slug: story.full_slug,
  }
})

const { blok } = Astro.props
---

<ul {...storyblokEditable(blok)}>
  {posts.map(post => (
    <li>
      <h4><a href={`../${post.slug}`}>{post.title}</a></h4>
      <time>{new Date(post.date).toDateString()}</time>
      <p>{post.description}</p>
    </li>
  ))}
</ul>