---
import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
const content = renderRichText(blok.content)
---

<article {...storyblokEditable(blok)} class="mx-auto max-w-screen-2xl">
    <h1>{blok.title}</h1>
    <p>{blok.date}</p>
    <Fragment set:html={content}/>
</article>