---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
 
const { blok } = Astro.props
---
 
<div {...storyblokEditable(blok)} class={blok.bgColor}>
  <div class="mx-16 lg:mx-4">
    <h1>{blok.categoryName}</h1>
    <div
      class="max-w-screen-xl"
    >
      {
        blok.posts?.map((blok) => {
          return <StoryblokComponent blok={blok} />
        })
      }
    </div>
  </div>
</div>