---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1 class="mission-statement">Our mission is to integrate the climate into our everyday food choices.</h1>
        <h2>The Why</h2>
        <section>
            <h3>Impact of Food Choices on the Climate</h3>
            <p>Food production accounts for over a quarter of global greenhouse gas emissions, and half of the world’s habitable (ice and desert-free) land is used for agriculture. The urgency of the climate crisis and the significant impact that food has on greenhouse gas emissions means that food services and consumers have an important role to play in their food choices, by creating demand for less carbon-intensive foods. By providing transparency on the carbon emissions of food by using menu labels, consumers will be able to make more climate-informed choices. A 2020 survey found that consumers were in support of carbon labelling on products across all countries, with two-thirds of consumers saying they think it is a good idea (The Carbon Trust, 2020). We believe the value of carbon labelling can extend to restaurant menus too. Our vision is that the resulting shift in demand away from carbon-intensive foods will lead to food services offering more low-carbon alternatives. Other restaurants around the world are starting to put climate labels on their food, such as Chipotle and Just Salad. Now is the perfect time to get ahead!                
            </p>
        </section>
    </body>
</html>
