---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Lighter Foodprint"
---

<BaseLayout pageTitle={pageTitle}>
	<h1>We bring transparency to the table.</h1>
	<p>
		Through research, data, and educational content, we help food services reduce their climate impact 
		through a climate labelling system. We calculate the carbon intensity of each menu item and communicate
		it through in-store labels with the mission to empower consumers to make more sustainable and informed 
		food choices.
	</p>
</BaseLayout>
