---
import Social from './Social.astro';
---

<footer>
    <div class="mx-auto w-full max-w-screen-2xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="hover:bg-transparent no-underline flex items-center">
                    <img src="/LF-Logo.png" alt="Lighter Foodprint Logo" class="h-12 mr-3">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap">Lighter Foodprint</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Our Work</h2>
                    <ul class="text-gray-600 font-medium list-none pl-0">
                        <li class="mb-4">
                            <a href="/faq" class="no-underline">FAQ</a>
                        </li>
                        <li class="mb-4">
                            <a href="/career" class="no-underline">Join Us</a>
                        </li>
                        <li>
                            <a href="/service" class="no-underline">Take Action</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow Us</h2>
                    <ul class="text-gray-600 font-medium list-none pl-0">
                        <li class="mb-4">
                            <Social platform="Instagram" username="lighterfoodprint" />
                        </li>
                        <li class="mb-4">
                            <Social platform="Facebook" username="lfoodprint" />
                        </li>
                        <li>
                            <Social platform="LinkedIn" username="/company/lighterfoodprint" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2021 <a href="https://lighterfoodprint.com/" class="no-underline">Lighter Foodprint™</a>. All Rights Reserved. <br> Reducing food's impact on the environment by
            integrating the climate into our everyday food choices.</span>       
    </div>
</footer>
