--- 
---
<button class="hamburger inline-flex item-center p-2 ml-1 text-sm rounded-md border-transparent bg-white hover:bg-gray-100 focus:ring-2 focus:ring-gray-500 md:hidden">
  <svg data-hk="0-0" width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-6">
    <line y1="0.5" x2="24" y2="0.5" stroke="currentColor"></line>
    <line y1="8.5" x2="24" y2="8.5" stroke="currentColor"></line>
    <line y1="16.5" x2="24" y2="16.5" stroke="currentColor"></line>
  </svg>
</button>