---
const {headline, subheadline, description, img} = Astro.props;
---
<section class="relative grid">
    <div class="relative">
        <h1>{headline}</h1>
        <h2>{subheadline}</h2>
        <p>{description}</p>
    </div>
    <img src={img} alt="" class="absolute z-0 w-full h-full top-0 left-0 object-cover">
</section>

